//COLORS
$light-theme-accent:#FA3252;
$light-theme-darker-accent:#FA5538;
$light-theme-accent-inverse:#4B53FF;
$light-theme-foreground:#15182D;
$light-theme-background:#FFFFFF;

$dark-theme-accent:#FA5538;
$dark-theme-darker-accent:#FA3252;
$light-theme-accent-inverse:#4B53FF;
$dark-theme-foreground:#FFFFFF;
$dark-theme-background:#1C1F38;

